/* Установим стиль шрифта для всего тела страницы */
body {
  font-family: "Arial", sans-serif;
  background-color: #e9ecef; /* Светло-серый фон для контраста */
  color: #333; /* Цвет текста */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* Основной контейнер, содержащий текст */
.container {
  max-width: 600px; /* Ограничим ширину для лучшего восприятия текста */
  width: 90%; /* Поддержка для маленьких экранов */
  text-align: center;
  background-color: #ffffff; /* Белый фон для контейнера */
  padding: 40px; /* Внутренний отступ */
  border-radius: 12px; /* Скругление углов */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Тень для объема */
  border: 1px solid #ddd; /* Светло-серый бордер */
}

/* Стили для основного заголовка */
h1 {
  font-size: 2.5em; /* Размер шрифта заголовка */
  color: #007bff; /* Цвет заголовка */
  margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для подзаголовка */
h2 {
  font-size: 1.8em; /* Размер шрифта подзаголовка */
  color: #333;
  margin-bottom: 20px; /* Отступ снизу */
}

/* Параграфы с основным текстом */
p {
  font-size: 1.1em; /* Размер шрифта текста */
  margin: 5px 0; /* Отступ сверху и снизу */
  line-height: 1.6; /* Межстрочный интервал */
}

/* Контейнер для списка документов */
.documents h3 {
  margin-top: 30px; /* Отступ сверху */
  font-size: 1.4em; /* Размер шрифта */
  color: #333; /* Цвет текста */
}

/* Стили для списка документов */
.documents ul {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступы */
}

/* Каждый элемент списка */
.documents li {
  margin: 10px 0; /* Отступ сверху и снизу */
  font-size: 1.1em; /* Размер шрифта */
}

/* Стили для ссылок */
.documents a {
  text-decoration: none; /* Убираем подчеркивание */
  color: #007bff; /* Цвет ссылки */
  transition: color 0.3s ease; /* Анимация для изменения цвета */
}

/* Стили при наведении на ссылку */
.documents a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
  color: #0056b3; /* Более темный цвет при наведении */
}
